html,
body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 95%;
}

h1 {
    margin: 1rem auto;
    width: 27rem;
    padding: 1rem;
    text-align: center;
}

div {
    margin: 1rem auto;
    width: 23rem;





    padding: 1rem;
    border-radius: .5rem;
    color: white;
}

.lado {
    background: orangered;
}

.tipo {
    background: red;
}

.fig {
    margin: 1rem auto;
    width: 11rem;
}

img {
    width: 10rem;
}