h1{
    color: red;
    text-align: center;
}
.numeroUm,.numeroDois{
    text-align: center;
    background-color:orange;
   
    margin-top: 50px;
    padding: 5%;
}
div{
    text-align: center;
}

button{
    background-color: white;
}
.resultado{
    color: white;
    font-weight: bolder;
    text-align: center;
    background-color: green;
    padding: 5%;
}