html,
body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 1rem auto;
    width: 35rem;
    padding: 1rem;
}

div {
    margin: 1rem auto;
    width: 23rem;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
}

.celsius {
    background: orangered;
}

.fahrenheit {
    background: red;
}